$body-font-family: "Roboto", sans-serif;
$card-border-radius: 24px !default;
$primary: #ffb163;
$secondary: #4AD4FF;
$tertiary: #108CB3;
$background: #ececec;

@import '~vuetify/src/styles/styles.sass';